<h2>Administration</h2>

<div class="icon-wrapper">
    <div class="icon">
      <%= link_to image_tag('add-user.png')+"<span>Add Users</span>".html_safe,"/admin/newusers",:class=>"round" %>
    </div>
</div>

<div class="icon-wrapper">
    <div class="icon">
      <%= link_to image_tag('users.png')+"<span>List of Users</span>".html_safe,"/admin/users",:class=>"round" %>
    </div>
</div>

<div class="icon-wrapper">
    <div class="icon">
      <%= link_to image_tag('places.png') + "<span>Import Places</span>".html_safe, import_places_path, :class => "round" %>
    </div>
</div>

<div class="clear">

</div>


