<% content_for :head do %>
  	<%= stylesheet_link_tag('jquery.fileupload-ui') %>
	<%= javascript_include_tag 'jquery.fileupload', 'jquery.fileupload-ui' %>
	
	<script type="text/javascript" charset="utf-8"> 
	   $(function () {
	  $('.upload').fileUploadUI({
	        uploadTable: $('.upload_files'),
	        downloadTable: $('.download_files'),
	        buildUploadRow: function (files, index) {
	            var file = files[index];
	            return $('<tr><td>' + file.name + '<\/td>' +
	                    '<td class="file_upload_progress"><div><\/div><\/td>' +
	                    '<td class="file_upload_cancel">' +
	                    '<button class="ui-state-default ui-corner-all" title="Cancel">' +
	                    '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
	                    '<\/button><\/td><\/tr>');
	        },
			parseResponse: function (xhr) {
			    if (typeof xhr.responseText !== 'undefined') {
			        return xhr.responseText;
			    } else {
			        // Instead of an XHR object, an iframe is used for legacy browsers:
			        return xhr.contents().text();
			    }			
			},
			onComplete: function (event, files, index, xhr, handler) {
				$('.download_files').html('');
				$('.download_files').append(handler.response);
			}
	    });
	});
	</script>
<% end %>

<h2>Import Places</h2>
<div class="files">
	<% form_for(:admin,:url=>"/admin/upload_csv", :html => {:multipart=>true, :class => "upload"}) do |form| %>
		<%= form.file_field :csvfile %>
		<div>Upload CSV File</div>
	<% end %>
	<table class="upload_files">
	</table>
	<table width="100%" id="download_files" class="download_files">
	</table>
	<div id="file_upload_progress" class="js file_upload_progress">
		<div style="display:none;"></div>
	</div> 
</div>
        