<h3>The places listed below will be created once you confirm: </h3>

<%= form_tag(admin_places_import_path, :method => "post") do %>
	<%= submit_tag("Confirm Places") %>

	<table width="100%" class="table-grid round"> 
	<tr>
		<th>Name</th>
		<th>Khmer Name</th>
		<th>Code</th>
	</tr>
	<%= render :partial => "place", :collection => @places %>
	</table>
	
	<%= submit_tag("Confirm Places") %>
<% end %>	
