.c-hidden{
    display: none;
}
.field-required{
	padding: 3px 6px;
	color: red;
}
.position{
    width: 30px;
}
#parameter_link, .parameter_link{
    font-size: 12px;
    font-style: italic;
    color: gray;
}
.register_bar {
    text-align: right;
    padding-bottom: 10px;
}
.dym_field{
    background: #eee;
}
.txt_error{
    color: tomato;
}

.table th, .table td {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 4px;
    text-align: left;
    vertical-align: top;
}

.paginate {
 text-align: right;   
}
.clear-layout{
    clear:both;
    margin-bottom: 5px;
}
.highlight{
    background: #C6D880;
    font-weight: normal;
}
.htitle{
    font-size: 18px;
}