*{
    color: #555;
}
.c-hidden{
    display: none;
}
.field-required{
	padding: 3px 6px;
	color: red;
}
.position{
    width: 30px;
}
#parameter_link, .parameter_link{
    font-size: 12px;
    font-style: italic;
    color: gray;
}
.register_bar {
    text-align: right;
    padding-bottom: 10px;
}
.dym_field{
    
}
.txt_error{
    color: tomato;
}

.table th, .table td {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 4px;
    text-align: left;
    vertical-align: top;
}

.paginate {
 text-align: right;   
}
.clear-layout{
    clear:both;
}
.highlight{
    background: #C6D880;
    font-weight: normal;
}
.htitle{
    font-size: 18px;
}

tr:nth-child(2n+1){
    background: #Dfd;
}
tr:nth-child(2n){
    background: #Efe;
}
th, td {
    border: 1px solid #D3D3D3 ;
}

tr:hover{
    background: #fff;
    color: #000;
}

th{
    background-image:url("../images/tb-bgheader.png");
    background-repeat: repeat-x;
}
.table{
    border: 1px solid #eee;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 6px #666666;
}
.no-bg{
    background-color: #fff;
}
.field{
    font-weight: bold;
    text-decoration: underline;
}