.c-hidden{
    display: none;
}
.field-required{
	padding: 3px 6px;
	color: red;
}
.position{
    width: 30px;
}
#parameter_link, .parameter_link{
    font-size: 12px;
    font-style: italic;
    color: gray;
}
.register_bar {
    text-align: right;
}
.dym_field{
    background: #eee;
}