html { height: 100% }

body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

h1, h2, h3 { padding-top: 0px; margin-top: 0px; }

#map_canvas {
  height: 450px;
  width:  100%;
}

#container {
  min-height: 100%;
  position: relative;
}

#version_separator {
  height: 20px;
}

#version {
  bottom: 0px;
  margin-right: 20px;
  height: 20px;
  width: 100%;
  color: #666;
  text-align: right;
  font-size: 8pt;
  float: right;
}

#title {
  color: #107;
  font-weight:bold;
  font-size: 20px;
  text-decoration: none;
}

#main {
  padding: 8px;
}

#header {
  padding: 3px 10px 0px 3px;
  background-color: #e0e0e0;
  border-bottom: 2px solid #CCC;
}

#first_row { border-bottom: 1px solid black; padding-bottom: 6px; margin-top: 4px; }
#tabs { float: right; list-style: none; display: block; border-bottom: 1px solid black; }
#tabs ul { display: inline; margin: 0px; padding: 0px; }
#tabs ul li {
  float: left;
  display: block;
  padding: 2px 8px 2px 8px;
  margin-left: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border: 1px solid black;
  position: relative;
  top: 1px;
  background: #efefef;
}
#tabs li.selected {
  border-bottom: 1px solid white;
  background: white;
}
#tabs a {
  color: black;
}
#second_row { width: 100%; margin: 0px; padding: 0px; border-spacing: 0px;}
#second_row td { border-spacing: 0px; }
#navbar { border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; width: 20%; float: left;}
#places, #users { padding: 4px; }
#users_title { border-top: 1px solid black; border-bottom: 1px solid black; font-weight: bold; padding: 4px; background-color: #bcd1da; color: #333;}
#places_title { border-bottom: 1px solid black; font-weight: bold; padding: 4px; background-color: #bcd1da; color: #333;}
#reports { width: 75%; padding: 10px; float: left; }

a {
    color: #09c;
    text-decoration: none;
}
a:hover {
    color: #069;
    text-decoration: underline;
}
a:visited {
    color: #069;
}
#toolbar {
  font-size: 14px;
  float:right;
  clear:both;
}
.navigation {
    background-color: #ccc;
    padding: 0 0.7em;
    white-space: nowrap;
        opacity:0.5;
        margin-right: 10px;
        font-size: 14px;
}
ul.navigation {
    margin: 0 10px 0 0;
}
.navigation li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}
.navigation li a {
    padding: 0 5px;
    font-weight: bold;
}
.navigation li a:visited {
    color: #09c;
}
.navigation li a:hover {
    text-decoration: underline;
}
.navigation li span {
    font-size: 10px;
    color: gray;
}
a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
    color: #fff;
    background: #006400;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}
.round {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
     border-radius : 4px;
}

.field{
    margin-top: 8px;
}
.field label{
    display: block;
    float: left;
    line-height: 2;
    width: 130px;
}
.fieldWithErrors, .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}
.fieldWithErrors label, .field_with_errors .label {
    color: #fff;
}
#errorExplanation, #error_explanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}
#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}
#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}
#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}
a img {
    border:none;
}

div.icon {
    background-color: #FFFFFF;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
}
div.icon a {
    border: 3px solid #EAEAEA;
    color: #565656;
    display: block;
    float: left;
    height: 97px;
    text-decoration: none;
    vertical-align: middle;
    width: 108px;
    padding-top:5px;
}
div.icon a:hover{
    font-weight: bold;
    border: 3px solid #CCC;
    padding-top:5px;
}
a:link {
    color: #025A8D;
    outline: medium none;
    text-decoration: none;
}

a, img {
    margin: 0;
    padding: 0;
}
.clear{
    clear:both;
}
div.icon span {
    display: block;
    text-align: center;
}

.table-grid{
    border: 1px solid #ccc;
    width: 100%;
}

.table-grid tr.head,.table-grid thead {
    background-color: #bcd1da;
    color: #333;
}

table .input, table input[type=text],  table input[type=password]{
    width:100%;
        border: 1px solid #999;
        -moz-border-radius : 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
}

input[type=text].error,  input[type=password].error{
        border: 1px solid #f00;

}
.separator
{
    line-height:0.5;
}

.clickable{
    cursor: pointer;
}
.table-grid tr{
    border-bottom: 1px solid #eee;
}
.table-grid td,.table-grid img{
    vertical-align: top;
    border-bottom: 1px inset #EEEEEE;
    margin: 5px 0px;
    text-align: left;
}

.odd {
    background-color: #efefef;
}
.even {
    background-color: #dadada;
}
.pagination{
    margin: 0 auto;
    margin-bottom: 10px;
    float:left;
}
.search{
    width: 300px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    height: 18px;
}
.pagination a,.pagination span {
    background-color: #f6f6f6;
    border:1px solid #fef;
    padding: 3px 6px;
}
.pagination em {
  font-weight: bold;
}

.pagination_container{
    float: left;
    padding: 5px;
}

.pagination a:hover{
   font-weight: bold;
}

#inputRow{
    margin-top: 10px;
}

.inputCell
{
    padding-right:5px;
    padding-left:2px;
}

.validation_error
{
        word-wrap: break-word;
        color:red;
        font-size: 10px;
}

.server
{

    font-size:10px;
}


.right-content{
    text-align: right;
    margin-top: 10px;
}

input.error
{
    border: 1px solid red;
}

label.error
{
    color: red;
    font-size:10px;
        margin-left: 5px;
}

div.msg-error, div.alert, div.error {
    background-image: url(../images/stop.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 5px 5px 5px 30px;
    border: 2px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius : 4px;
    background-color: #eee;
}

.msg-notice, .notice {
    background-image: url(../images/notify.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 10px 30px;
    border: 2px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius : 4px;
    background-color: #eee;
}

#editFormContainer{
    border: 2px solid #ccc;
    padding: 20px;
}

.big-button {

    width:150px;
    height:30px;
}

.alert_form_line {
    margin-top:10px;
}

#alert-table {
    margin-top:30px;
    width:100%;
}

#alert-controls {
    padding:20px;
}

#editDirFancy tr{
    height: 45px;
}
.formElement li{
    list-style-type: none;
    clear:both;
}
.formElement li label {
    display: block;
    width: 140px;
    float:left;
}
.inputElement{
    margin: 10px 3px;
}
.list li {
    list-style-type: decimal;
    line-height: 1.5;
    border-bottom: 1px solid #eee;
    clear: both;
}
.item-value{
    color: gray;

}
.item-label{
    font-weight: bold;
    font-size: 12px;
    margin: 10px;
    padding: 10px;

}
.title{
    font-weight: bold;
    font-size: 15px;

}
.nav-link{
    background-image: url("../images/arrow-right.png");
    background-position: right center;
    padding-right: 15px;
    margin-right: 10px;
    background-repeat: no-repeat;
}
.separator{
    line-height: 1.4;
    width: 60%;
    color: gray;
}
.no-style{
    list-style-type: none;
}

tr.edit {
    background-color: #eef;
    min-height: 40px;
    padding: 10px;
    font-weight: bold;
}
.slide_label{
    margin-top: 10px;
}
.slide_label span{
    padding: 3px 5px;
    font-weight: bold;
}
#slide_min, #slide_max{
    background-color: #ddd;
}
#slide_selected{
  border: 1px solid #ccc;
  position: absolute;
}
#slide_status{
    position: absolute;
    z-index: 1001;
    left : -100px;
    width: 100px;
}

#slide_status span{
   background-color: #8fa;
   border: 1px solid #fff;
   padding: 3px 5px;
   font-weight: bold;
   margin-top: 40px;
   -moz-border-radius:	4px;
   -webkit-border-radius: 4px;
   border-radius : 4px;

}
.slideOption{
    float:left;
    width: 95px;
}

.calendar {
    width: 90px;
    border: 1px solid #ccc;
}
#customOption{
   float: left;
   background-color: #fff;
   padding:15px 3px;
   margin-top: -5px;
   width: 210px;
   display: none;
   border: 1px solid #ccc;
}
.btnLink {
  background-color: #8ef;
  padding: 3px 15px;
  text-decoration: none;
  border: 1px solid #fff;
}

.btnLink:hover {
 background-color: #8ff;
}
#breakcrump{
  padding:10px 10px 10px 0px;
}
.bcElement{
    cursor: pointer;
}
.loading{
  background-image: url(../images/loading.gif);
  background-position: 10px center ;
  background-repeat: no-repeat;
  width: 220px;
  height: 30px;
  border: 1px solid #8f2;
  z-index: 2001;
  position: absolute;
  background-color: #fff;
  padding-left: 60px;
  padding-top: 30px;
  display: none;
}
.bcWrapper{
  /*
  background-color: #efe;
  padding: 5px 10px;
  */
  background-image: url(../images/breadcrumb-tab.png);
  background-position: right center;
  background-repeat: no-repeat;
  padding: 4px 20px 4px 3px ;
  border:none;
}
#breakcrump{
    background-image: url(../images/breadcrumb.png);
    float: left;
    padding: 4px 0px;
    color: #fff;
    margin-bottom: 5px;
}
#breakcrump a {
    color:#fff;
    font-weight: bold;
}
.infoTip{
   width: 580px;

}
.infoTip table {
    width: 94%;
    border: 1px solid gray;
}
.infoTip td {
    text-align: left;
}
.markerLabels{
    border:1px solid #ccc;
    background-color: white;
    padding: 3px 0px;
    color: #000;
    text-align: center;
    margin: 0 auto;
}
#custom_message_sent_status{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-weight: bold;
    display: none;
    background-color: #eef;
    padding-top: 3px ;
    padding-bottom: 3px;
}
.loading-small{
  background-image: url(../images/loading-small.gif);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}
.full{
    width: 100%;
}
.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
div.input{
    padding-bottom: 10px;
}
.title{
    font-size: 14px;
    color: gray;
}
#fancy-div-detail div.pagination a{
}
#search_box{
    margin-top: 10px;
    text-align: right;
}
tr.error{
    color: #f00;
}
.input label {
    display: block;
}
.import_button{
    width: 300px;
    background-image: url(../images/csv.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    height: 18px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}
.logo {
  vertical-align: top;
}
.down{
    background-image: url(../images/down.png);
    background-position: right center;
    padding-right: 20px;
    background-repeat: no-repeat;
}
.up{
    background-image: url(../images/up.png);
    background-position: right center;
    padding-right: 20px;
    background-repeat: no-repeat;
}
.watermark{
    color: #ddd;
    font-style: italic;
}
a.normal{
    font-weight: 300;
}
a.selected{
    font-weight: bold;
    text-decoration: underline;
}
.bar{
  color: gray;
  line-height: 0.7;
  text-decoration: none;
}
.report{
  margin-top: 20px;
}
.confirm_import{
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 5px 10px;
  font-weight: bold;
}
.confirm_import:hover {
    background-color: #cecece;
    text-decoration: none;
}
.error_report {
  color: #900;
}
.ignored {
  color: #BBB;
}
.ignored .error_report {
  color: #977;
}
.ignored a {
  color: #89c;
}
.sort{
    display: block;
    width: 100%;
}
.map_small{
    width: 600px;
    height: 450px;
    border: 1px solid #ccc;
}

.input input, .input select{
    width: 600px ;
    
}
a.menu{
    font-weight: bold;
    font-size: 14px
}
.inline{
    background-color: PowderBlue;
    border: 1px solid #22FF99;
    color: red;
    display: inline;
    font-weight: bold;
    margin-left: 20px;
    opacity: 0.6;
    padding: 3px 10px;
    visibility: hidden;
}
.highlight{
    background-color: #C6D880;
    color : #000;
    font-weight: bold;
}
