.container {
		width: 800px;
		margin: 0 auto;
	}
body {
	background: #7FC9EE;
        /*#cff*/;
}
#header {
	padding-top: 20px;
        background-color: #fff;
        height: 100px;
}
#header img {
	padding: 1em;
	background: #fff;
        display: none;
}
#content {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}

a {
	color: #09c;
	text-decoration: none;
}
a:hover {
	color: #069;
	text-decoration: underline;
}
a:visited {
	color: #069;
}
.navigation {
	background-color: #ccc;
	padding: 0 0.7em;
	white-space: nowrap;
        opacity:0.5;
        margin-right: 10px;
}
ul.navigation {
	margin: 0;
}
.navigation li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}
.navigation li a {
	padding: 0 5px;
	font-weight: bold;
}
.navigation li a:visited {
	color: #09c;
}
.navigation li a:hover {
	text-decoration: underline;
}
.navigation li span {
    font-size: 10px;
    color: gray;
}
a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}
.round {
	-moz-border-radius:	5px;
	-webkit-border-radius: 5px;
}

.field{
    margin-top: 8px;
}
.field label{
    display: block;
}
.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}
.fieldWithErrors label {
    color: #fff;
}
#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}
#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}
#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}
#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}
a img {
    border:none;
}


