.container {
		width: 800px;
		margin: 0 auto;
	}
body {
	background: #7FC9EE;
        color: gray;
        font-family: Helvetica,Arial,sans-serif;
        font-size: 12px;
        /*#cff*/;
}
#header {
	padding-top: 20px;
        background-color: #fff;
        height: 100px;
}
#header img {
	padding: 1em;
	background: #fff;
        display: none;
}
#content {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}

a {
	color: #09c;
	text-decoration: none;
}
a:hover {
	color: #069;
	text-decoration: underline;
}
a:visited {
	color: #069;
}
.navigation {
	background-color: #ccc;
	padding: 0 0.7em;
	white-space: nowrap;
        opacity:0.5;
        margin-right: 10px;
        font-size: 14px;
}
ul.navigation {
	margin: 0 10px 0 0;
}
.navigation li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}
.navigation li a {
	padding: 0 5px;
	font-weight: bold;
}
.navigation li a:visited {
	color: #09c;
}
.navigation li a:hover {
	text-decoration: underline;
}
.navigation li span {
    font-size: 10px;
    color: gray;
}
a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}
.round {
	-moz-border-radius:	5px;
	-webkit-border-radius: 5px;
}

.field{
    margin-top: 8px;
}
.field label{
    display: block;
    float: left;
    line-height: 2;
    width: 130px;
}
.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}
.fieldWithErrors label {
    color: #fff;
}
#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}
#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}
#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}
#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}
a img {
    border:none;
}

div.icon {
    background-color: #FFFFFF;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
}
div.icon a {
    border: 3px solid #EAEAEA;
    color: #565656;
    display: block;
    float: left;
    height: 97px;
    text-decoration: none;
    vertical-align: middle;
    width: 108px;
}
div.icon a:hover{
    font-weight: bold;
    border: 3px solid #CCC;
}
a:link {
    color: #025A8D;
    outline: medium none;
    text-decoration: none;
}

a, img {
    margin: 0;
    padding: 0;
}
.clear{
    clear:both;
}
div.icon span {
    display: block;
    text-align: center;
}

.table-grid{
    border: 1px solid #ccc;
    width: 100%;
}

.table-grid tr.head,.table-grid thead {
    background-color: #eee;
    color: #999;
}

input[type=text],  input[type=password]{
	width:100%;
        border: 1px solid #ccc;
        -moz-border-radius : 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
}
input[type=text].error,  input[type=password].error{
        border: 1px solid #f00;

}
.separator
{
	line-height:0.5;
}

.clickable{
    cursor: pointer;
}
.table-grid tr{
    border-bottom: 1px solid #eee;
}
.table-grid td,.table-grid img{
    vertical-align: top;
    border-bottom: 1px inset #EEEEEE;
    margin: 5px 0px;
}

.pair{
    background-color: #ffe;
}
.impair{
    background-color: #eff;
}
.pagination{
    margin: 0 auto;
    margin-bottom: 10px;
}
.pagination a,.pagination span {
    padding:2px 6px;
    background-color: #ffe;
    border:1px solid #fef;
}
.pagination a:hover{
   font-weight: bold;
}

#inputRow{
    margin-top: 10px;
}

.inputCell
{
	padding-right:5px;
	padding-left:2px;
}

.validation_error
{
        word-wrap: break-word;
        color:red;
        font-size: 10px;
}

.server
{
	
	font-size:10px;
}


.right-content{
    text-align: right;
    margin-top: 10px;
}

input.error 
{ 
	border: 1px solid red; 
}

label.error 
{
	color: red;
	font-size:10px;
        margin-left: 5px;
}
.msg-error{
    background-image: url(../images/stop.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 3px 3px 3px 30px;
    border: 1px solid #ccc;
}
.msg-notice{
    background-image: url(../images/notify.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 3px 3px 3px 30px;
    border: 1px solid #ccc;
}
#editFormContainer{
    border: 2px solid #ccc;
    padding: 20px;
}