<% content_for :head do %>
    <%= javascript_include_tag 'jquery.validate.min' %>
    <%= javascript_include_tag 'users/index' %>
<% end %>
<h2>Users</h2>
<h4 class="round msg-error" id="actionNotifier" style="display: none;" > </h4>
<%= will_paginate @users %>
<div class="clear"> </div>
<%= render :partial => "list_users", :locals => { :users => @users, :user => @user} %>
