<div class="panel" >
<div>
  <h2 class="separator" >Users</h2>
  <%= action_button 'users.png', 'Users List', users_path %>
</div>
<div class="clear"/>

<div>
  <h2 class="separator" >Places</h2>
        <%= action_button 'map.png', 'Map View', map_view_map_visualizations_path %>
</div>
<div class="clear"/>

<div>
  <h2 class="separator" >Customs</h2>
  <%= action_button 'sms.png', 'Custom sms', new_custom_message_path %>
</div>
<div class="clear"/>

<div class="clear"/>
</div>


