<table class="table"> 
    <thead>
        <tr >
          <th> Name </th>
          <th> </th>
         </tr>
    </thead>
    
    <tbody>
      <% constraints = field.constraints || []   %>
      <% constraints.each do |constraint| %>
        <tr> 
          <th> <%= constraint.to_s %></th>
          <th> <%= link_to :Delete, "" ,:method => :delete, :confirm => "Are you sure to delete"  %></th>
        </tr>
      <% end  %>
      
    </tbody>
</table>
    