<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="<%= referral_root_path() %>"> <%=referral_app %> </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <%
              [
                {:label => "Reports", :url => referral_reports_path, :controller => "reports" },
                {:label => "Users", :url => referral_users_path , :controller => "users" },
                {:label => "Dynamic Variable", :url => referral_fields_path, :controller => "fields" },
                {:label => "Format Message", :url => referral_message_formats_path, :controller => "message_formats" },
                {:label => "Error templates", :url => referral_templates_configs_path, :controller => "templates" },
                {:label => "Simulate", :url => referral_reports_simulate_path, :controller => "reports" },
                {:label => "MD0", :url => root_path, :controller => "" },
              ].each do |item|
                cls = (item[:controller] == controller_name) ? "active" : ""
              %>
                  <li class="<%=cls%>"> <%=link_to item[:label], item[:url] %> </li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
    </div>
</div>