<div id="div_content">
  <%= render "report_form"   %>
      <% content_for :reports do %>
        <% if(@reports.size > 0) %>
          <%= render "reporting_places" %>
        <% end %>
  <% end %>
</div>


