<span id="breadcrumb">
  You are here:
  <% @breadcrumb.each_with_index do |crumb, i| %>
    <%= ' > ' if i > 0 %>
    <% if crumb[:place] %>
      <% if crumb[:place] == 0 || crumb[:place].try(:country?) %>
        <%= link_to crumb[:label], current_url_for(:place => nil) %>
      <% else %>
        <%= link_to crumb[:label], current_url_for(:place => crumb[:place].id) %>
      <% end %>
    <% else %>
      <b><%= crumb[:label] %></b>
    <% end %>
  <% end %>
</span>
