<form id="place_search_form">
  <input type="hidden" name="error" value="<%= params[:error] %>" />
  <%= text_field_tag 'place_search', params['place_search'], :style => 'width:280px', :autocomplete => :off %>
  <%= submit_tag 'Search place' %>
  <% if params[:place_search] && !@place %>
    <span style="color:red">Couldn't find that place</span>
  <% end %>
  <% params.delete :place_search %>
</form>

<script type="text/javascript">
  $(function() {
      $('#place_search').autocomplete({
        serviceUrl: '<%= autocomplete_places_path %>',
        minChars: 2,
        maxHeight: 300,
        zIndex: 9999,
        onSelect: function(value, data) {
          $('#place_search_form').submit();
        }
      });
  });
</script>
