<div id="tabs">
  <ul>
    <%
      [
        ['All messages', :all_messages, :reports],
        ['Error messages', :error_messages, :error_reports],
        ['Last error message per sender per day', :last_error_per_sender_per_day, :last_error_per_sender_per_day_reports],
        ['Duplicated messages', :duplicated_messages, :duplicated_reports],
        ["Places reporting and not reporting", :places_reporting_and_not_reporting, :places_reporting_and_not_reporting_reports],
        ['Map', :map, :map_view_map_visualizations]
      ].each do |label, tab, path, options| %>
      <% if @tab == tab %>
        <li class="selected"><%= label %></li>
      <% else %>
        <li><%= link_to label, self.send("#{path}_path", (options || {}).merge(:place => params[:place])) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
