<div id="tabs">
  <ul>
    <%
      [
        ['Map', :map, :map_view_map_visualizations, {}],
        ['All messages', :all_messages, :reports, {}],
        ['Error messages', :error_messages, :reports, {:error => true}],
        ['Last error message per sender', :last_error_messages, :reports, {:error => :last}]
      ].each do |label, tab, path, options| %>
      <% if @tab == tab %>
        <li class="selected"><%= label %></li>
      <% else %>
        <li><%= link_to label, self.send("#{path}_path", options.merge(:place => params[:place])) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
